{:paths   ["src"]
 :deps    {com.fulcrologic/guardrails {:mvn/version "1.1.13"}
           com.github.gnl/debux       {:mvn/version "0.8.4-1"}
           djblue/portal              {:mvn/version "0.48.0"}}
 :aliases {:pom   {:extra-deps {org.clojure/clojure       {:mvn/version "1.10.0"}
                                org.clojure/clojurescript {:mvn/version "1.10.238"}}}
           :build {:deps       {com.github.gnl/build.simple {:mvn/version "0.7.4"}}
                   :ns-default build.simple.core}}}
